@charset "UTF-8";
a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.content .products {
  gap: 35px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  margin-top: 50px;
  padding-bottom: 50px;
}
.content .products .product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  height: 587px;
  background-color: #f6f6f4;
}
.content .products .product__description {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 24px 16px;
}
.content .products .product_a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.content .products .product_text {
  color: #5D5D5D;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.content .products .product_price {
  color: #F16D7F;
  font-size: 16px;
}
.content .products .product .id {
  display: none;
}
.content .button {
  margin-bottom: 50px;
  width: 212px;
  height: 48px;
  background-color: white;
  color: #F26376;
  border-color: #F26376;
}

/*затемнение с ярлыком начало*/
.prod {
  position: relative;
}

.prod:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.prod:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url(img/Add_to_cart.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.prod:hover:before,
.prod:hover:after {
  opacity: 1;
  transition: 1s;
}

.info_slyle_footer:hover {
  transform: scale(1.2);
  color: cornflowerblue;
}

.cart {
  padding-bottom: 100px;
}
.cart_title {
  text-align: center;
  padding-bottom: 64px;
}
.cart_product {
  display: flex;
  align-items: center;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
  margin-top: 20px;
  width: 652px;
  height: 306px;
  position: relative;
}
.cart_product .img_cart {
  width: 262px;
  height: 306px;
}
.cart_product .close {
  position: absolute;
  left: 609px;
  top: 24px;
}
.cart_product .img_close {
  width: 18px;
  height: 18px;
}
.cart_product_description {
  padding: 31px 22px 97px 62px;
}
.cart_product_description .description_heading {
  padding-bottom: 42px;
  margin-right: 54px;
  padding-top: 22px;
}
.cart_product_description .description_heading__title {
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.cart_product_description .description__text {
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 6px;
}
.cart_product_description .description__text .text_span_currency, .cart_product_description .description__text .text_span_price {
  color: rgb(239, 91, 112);
}
.cart_product_description .description__text .text_span_color {
  color: rgb(111, 110, 110);
}
.cart_product_description .description__input {
  width: 44px;
  text-align: center;
  padding-left: 7px;
}/*# sourceMappingURL=style.css.map */