@import 'mixins';
@import 'vars';
a{
  text-decoration: none;
}
.center {
  @include centerCalc($widthSite);
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .products{
        gap: 35px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        margin-top: 50px;
        padding-bottom: 50px;

        .product{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 360px;
            height: 587px;
            background-color: #f6f6f4;
            &__description{
                display: flex;
                flex-direction: column;
                padding: 24px 16px 24px 16px;
            }
            &_a{
                text-decoration: none;
                color: black;
                font-size: 16px;
            }
            &_text{
                color: #5D5D5D;
                font-size: 14px;
                padding-top: 7px;
                padding-bottom: 7px;
            }
            &_price{
                color: #F16D7F;
                font-size: 16px;
            }
            .id{
              display: none; 
            }
    
        }
    }

    .button{
        margin-bottom: 50px;
        width: 212px;
        height: 48px;
        background-color: white;
        color: #F26376;
        border-color: #F26376;
    }
}
/*затемнение с ярлыком начало*/
.prod {
  position: relative;
}

.prod:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
}

.prod:before {
  @include centerFlex(center);
  content: url(img/Add_to_cart.png);
  position: absolute;
  @include objectPosition(0, 0, 0, 0);
  opacity: 0;
}

.prod:hover:before,
.prod:hover:after {
  opacity: 1;
  transition: 1s;
}

.info_slyle_footer:hover {
  transform: scale(1.2);
  color: cornflowerblue;
}

//корзина
.cart {
  padding-bottom: 100px;

  &_title {
    text-align: center;
    padding-bottom: 64px;
  }

  &_product{
    display: flex;
    align-items: center;
    box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
    margin-top: 20px;
    // padding: 40px;
    width: 652px;
    height: 306px;
    position: relative;

    .img_cart{
      width: 262px;
      height: 306px;
    }
    .close{
      position: absolute;
      left: 609px;
      top: 24px;
    }
    .img_close{
      width: 18px;
      height: 18px;
    }
  }

  &_product_description{
    padding: 31px 22px 97px 62px;

    .description_heading{
      padding-bottom: 42px;
      margin-right: 54px;
      padding-top: 22px;
      
      &__title{
        color: rgb(34, 34, 34);
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        
      }
    }  
    .description__text{
      font-family: Lato;
      font-size: 22px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0%;
      text-align: left;
      padding-bottom: 6px;

      .text_span_currency, .text_span_price{
        color: rgb(239, 91, 112);
      }
      .text_span_color {
        color: rgb(111, 110, 110)
      }
      
    }
    .description__input{
      width: 44px;
      text-align: center;
      padding-left: 7px;
    }

    
  }





}